<div class="border border-dark pb-5">
  <p class="border-bottom border-dark text-center">ジャンル検索</p>
<% types.each do |type| %>
  <div class="pl-3 pb-2">
    <%= link_to type.name, products_path(keyword: type.name),class:"text-body" %>
  </div>
<% end %>
</div>