<div class="container py-5">
  <div class="row">
    <div class="col-lg-3">
      <h5 class="bg-dark text-light text-center">注文履歴一覧</h5>
    </div>
  </div>
  <div class="row">
    <table class="table text-secondary table-hover">
    <thead>
      <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
        <th colspan = "2"></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.created_at.strftime('%Y/%m/%d %H:%M'), admin_order_path(order) %></td>
        <td><%= order.name %></td>
        <%# oraderとproduct_ordersのカラムを使うので2つ呼び出したい、全情報を順に出すためeachメソッドを使用%>
        <% @quantity = 0 %>
        <td><% order.product_orders.each do |product_order|%>
        <%# homes_controllerで定義した@quantity = 0にquantityを足したい %>
          <% @quantity = @quantity + product_order.quantity %>
          <% end %>
        <%# 注文個数を出す　%>
          <%= @quantity %>個</td>
        <%# ステータスを日本語で表示するためにja.ymlを呼び出す_i18nを記述%>
        <td><%= order.status_i18n %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>